#evn1{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0px;
	background:black;
}

#evn2{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:0px;
	background:black;
}

#evn3{
	position:absolute;
	top:0;
	right:0;
	width:0px;
	height:100%;
	background:black;
	z-index:1;
}
.crack{
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	background:url(crack.png);
	background-repeat:none;
	background-size:100%;
}
#playBox{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100;
	background:blue;
}

.dirt{
	position:absolute;
	width:10px;
	height:10px;
	top:0px;
	left:0px;
}

#player{
	position:absolute;
	top:0px;
	left:0px;
	width:0px;
	height:0px;
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b08e5762-18b5-4973-95fa-8714fb6b88f5/dduckoh-ef6f40d4-1c08-425a-9d2f-1a6473b04488.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IwOGU1NzYyLTE4YjUtNDk3My05NWZhLTg3MTRmYjZiODhmNVwvZGR1Y2tvaC1lZjZmNDBkNC0xYzA4LTQyNWEtOWQyZi0xYTY0NzNiMDQ0ODgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.2OkpMy7M8LBQzN9ldPTy4b4H2EuTO7EUI1Bbv51qf9E);
}